<section class="about">
  <div class="containerabout">
    <h2>Get to Know Us</h2>
    <p>
      At Trot Dog Care, we’re more than just dog walkers — we’re a team of dedicated animal lovers who treat every pet like part of the family. Founded on a simple belief that dogs deserve the best, our mission is to provide exceptional care that’s consistent, personal, and filled with joy.
    </p>
    <p>
      We know every dog has a unique personality, routine, and set of needs. That’s why we take time to build relationships not only with your furry friends, but also with you. Whether it's a walk, an overnight stay, or a grooming session, we approach every visit with love, patience, and professionalism.
    </p>
    <p>
      Get to know the amazing humans who make this possible — each one carefully chosen for their experience, warmth, and genuine passion for pets. You can count on us to be where your dog feels at home, even when you’re not.
    </p>
  </div>
 
 <!-- <div class="walker-container">

    <div class="walker-cards">
      <div class="walker-card">
        <img src="assets/images/walker1.jpg" alt="Walker 1" />
        <h4 class="walker-name">David</h4>
        <p>Serving: Mission District</p>
      </div>

      <div class="walker-card">
        <img src="assets/images/walker2.jpg" alt="Walker 2" />
        <h4 class="walker-name">Raphael</h4>
        <p>Serving: SoMa & Downtown</p>
      </div>

      <div class="walker-card">
        <img src="assets/images/walker3.jpg" alt="Walker 3" />
        <h4 class="walker-name">Michelle</h4>
        <p>Serving: Richmond & Sunset</p>
      </div>
    </div>
  </div> -->

    <div class="about-values">
      
      <div class="value-card">
        <img src="assets/icons/trust.png" alt="Trust Icon" class="core-value-icon"/>
        <h4>Trust</h4>
        <p>We build long-lasting relationships with both dogs and their owners.</p>
      </div>
      
      <div class="value-card">
        <img src="assets/icons/care.png" alt="Care Icon" class="core-value-icon"/>
        <h4>Care</h4>
        <p>Each walk is personalized and filled with love and attention.</p>
      </div>
      
      <div class="value-card">
        <img src="assets/icons/community.png" alt="Community Icon"  class="core-value-icon"/>
        <h4>Community</h4>
        <p>We support and grow with the neighborhoods we serve.</p>
      </div>

    </div>
 
</section>

<section class="parallax-section">
  <div class="parallax-background"></div>
</section>

