<header>
  <div class="logo-wrapper">
    <img src="assets/images/logo.png" alt="Trot Dog Care Logo" />
  </div>

  <nav>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">Get to Know Us</a></li>

      <li><a [routerLink]="['/booking']" fragment="pricing-section">Services</a></li>

      <li><a routerLink="/booking" routerLinkActive="active">Booking</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
