.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  max-width: 800px;
  margin: 60px auto 60px auto; /* agora com espaçamento em cima e embaixo */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-form button {
  background-color: #0297f5;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0178c4;
}
