<section id = 'topo' class="booking container">
  <h2 class="booking-title">Pricing & Booking</h2>
  <p class="booking-subtitle">Select the service that best fits your pup!</p>

  <div class="booking-table">
    <div class="booking-row header">
      <div>Service</div>
      <div>Duration</div>
      <div>Price</div>
    </div>

    <div id="dog-walking" class="booking-row">
      <div>Dog Walking</div>
      <div>30 mins</div>
      <div>$45</div>
    </div>

    <div id="day-care" class="booking-row">
      <div>Daycare</div>
      <div>8 am to 2 pm</div>
      <div>$80</div>
    </div>

    <div id="boarding" class="booking-row">
      <div>Boarding</div>
      <div>Overnight</div>
      <div>$90</div>
    </div>
  </div>
</section>
