<section class="services-section">
  <div class="container">
    <h2 class="section-title">Our Services</h2>
    <div class="service-cards">

      <div class="service-card" (click)="navigateWithFragment('topo')">
        <h3>Dog Walking</h3>
        <p>Daily walks customized for your dog’s needs.</p>
      </div>

      <div class="service-card" (click)="navigateWithFragment('topo')">
        <h3>Day care</h3>
        <p>Safe, fun playtime while you’re away.</p>
      </div>

      <div class="service-card" (click)="navigateWithFragment('topo')">
        <h3>Boarding</h3>
        <p>Overnight stays with love and comfort.</p>
      </div>

    </div>
  </div>
</section>